*{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.head {
    background-color: #f5f5f5;
    padding: 3px 36px;
    z-index: 999;
}
.f {
    right: 0;
    left: 0;
}
.f1 {
    top: 0;
}
.f2 {
    top: 42px;
}
.mt {
    margin-top: 102px;
}
.above {
    height: 60px;
}
.head-logo img {
    width: 45px;
    height: 30px;
}
.nav-list{
    list-style: none;
    display: flex;
    margin: 0;
}
.logo{
    cursor: pointer;
}
.sp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list p {
    line-height: 36px;
    margin: 0 0 0 10px;
}
li a{
    margin-left: 10px;
    text-decoration: none;
    line-height: 36px;
    padding: 10px;
    color: black;
}
button:hover,
.mt-3 a:hover{
    opacity: 0.7;
}
#nav-cen {
    margin-left: 15%;
}
.search {
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 40px;
    width: 180px;
}
.search input {
    background-color: #f5f5f5;
    border: none;
    outline: none;
    border-radius: 40px;
    width: 120px;
}
.sp i {
    margin-left: 20px;
}
#nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
#nav{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform linear 0.3s;
    z-index: 1001;
}
#nav li, #nav i {
    padding: 16px 30px;
}

.head a:hover, i:hover,.head img:hover {
    opacity: 0.5;
}
footer .btn {
    color:#cccc;
    text-align: left;
}
footer .btn:hover {
    color: white;
}
footer a {
    padding: 10px;
    color: #cccc;
}
footer a:hover {
    color: white;
    
}
footer .mt-5{
    margin-top: 50px;
}
.foot-abo {
    top: 37px;
    left: 0;
}
.row.p-4.p-md-5.fw-bold button{
    background-color: white;
    z-index: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .f2 {
        top: 0;
    }
    .mt {
        margin-top: 60px;
    }

    #nav-cen {
        display: none;
    }

    i.fa-bars {
        display: block !important;
    }

}
@media screen and (max-width:768px) {
    .f1{
        display: none;
    }
    .f2 {
        top: 0;
    }
    
    .poster {
        margin-top: 60px;
    }
    
    #nav-cen {
        display: none;
    }
    .text-start.border-0 p {
        font-size: 12px;
    }
    .text-center h1{
        font-size: 35px;
    }
    .text-center h4{
        font-size: 13px;
    }
}


